:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f0f2f5;
  color: #222;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 220px;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}
